@charset "UTF-8";

body
{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(9,118,121,1) 70%);
color: rgb(255, 255, 255);
font-size: 12pt;
font-family:Arial;
text-align: center;
}

h1
{
  color: write;
  font-size: 30pt;
}

img{
  width: 350px;
}